body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.centered-image {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto 10px;
}

.image-left, .image-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
}

.image-left {
    left: 100px;
}

.image-right {
    right: 100px;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #FF9900;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    .buy-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

